* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-rus-ukr.post-rus.dix -text
/apertium-rus-ukr.post-ukr.dix -text
/apertium-rus-ukr.rus-ukr.dix -text
/apertium-rus-ukr.rus-ukr.lrx -text
/apertium-rus-ukr.rus-ukr.rlx -text
/apertium-rus-ukr.rus-ukr.t1x -text
/apertium-rus-ukr.rus-ukr.t2x -text
/apertium-rus-ukr.rus-ukr.t3x -text
/apertium-rus-ukr.rus.acx -text
/apertium-rus-ukr.rus.dix -text
/apertium-rus-ukr.ukr-rus.lrx -text
/apertium-rus-ukr.ukr-rus.rlx -text
/apertium-rus-ukr.ukr-rus.t1x -text
/apertium-rus-ukr.ukr-rus.t2x -text
/apertium-rus-ukr.ukr-rus.t3x -text
/apertium-rus-ukr.ukr.acx -text
/apertium-rus-ukr.ukr.dix -text
/autogen.sh -text
/configure.ac -text
dev/interwiki.ru-uk -text
dev/ru-uk-adj -text
dev/ru-uk-adv -text
dev/ru-uk-nouns -text
dev/ru-uk-pl-lv-en.csv -text
dev/ru-uk-verb -text
dev/strip-accents.pl -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.rus-ukr.txt -text
dev/testvoc/testvoc-summary.ukr-rus.txt -text
dev/testvoc/testvoc.sh -text
dev/uk-ispell-entries -text
dev/uk-ru-indeclinable -text
dev/uk-sint-auto -text
/modes.xml -text
/rus-ukr.prob -text
texts/rasskaz.rus.txt -text svneol=unset#application/octet-stream
texts/rasskaz.ukr.txt -text svneol=unset#application/octet-stream
/ukr-rus.prob -text
