* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-ru-uk.post-ru.dix -text
/apertium-ru-uk.post-uk.dix -text
/apertium-ru-uk.ru-uk.dix -text
/apertium-ru-uk.ru-uk.t1x -text
/apertium-ru-uk.ru-uk.t2x -text
/apertium-ru-uk.ru-uk.t3x -text
/apertium-ru-uk.ru.acx -text
/apertium-ru-uk.ru.dix -text
/apertium-ru-uk.uk-ru.t1x -text
/apertium-ru-uk.uk-ru.t2x -text
/apertium-ru-uk.uk-ru.t3x -text
/apertium-ru-uk.uk.acx -text
/apertium-ru-uk.uk.dix -text
/autogen.sh -text
/configure.ac -text
dev/interwiki.ru-uk -text
dev/ru-uk-adj -text
dev/ru-uk-adv -text
dev/ru-uk-nouns -text
dev/ru-uk-pl-lv-en.csv -text
dev/ru-uk-verb -text
dev/ru-verbs1.xml -text
dev/strip-accents.pl -text
dev/uk-ispell-entries -text
dev/uk-ru-indeclinable -text
dev/uk-sint-auto -text
/en-ca.prob -text
/filter.sh -text
/filter.xsl -text
/modes.xml -text
/ru-uk.prob -text
/uk-ru.prob -text
