* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/README -text
/alt.xsl -text
/apertium-ru-uk.ru-uk.dix -text
/apertium-ru-uk.ru-uk.t1x -text
/apertium-ru-uk.ru-uk.t2x -text
/apertium-ru-uk.ru-uk.t3x -text
/apertium-ru-uk.ru.dix -text
/apertium-ru-uk.uk-ru.t1x -text
/apertium-ru-uk.uk-ru.t2x -text
/apertium-ru-uk.uk-ru.t3x -text
/apertium-ru-uk.uk.dix -text
/autogen.sh -text
dev/ru-uk-pl-lv-en.csv -text
dev/uk-ispell-entries -text
dev/uk-ru-indeclinable -text
dev/uk-sint-auto -text
/en-ca.prob -text
/modes.xml -text
