/*.bin
/*.cache
/*.in
/*.log
/*.m4
/*.status
/.deps
/INSTALL
/Makefile
/Makefile.in
/config
/configure
/install-sh
/missing
/stamp-h1
/ap_include.am
/modes
/*.prob
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/autom4te.cache
/config.log
/config.status
/*.mode
/config.in
/test/*-output.txt
